root = true

[*]
charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = false
insert_final_newline = false
indent_style = space
indent_size = 4
tab_width = 4

# Microsoft .NET properties
csharp_preferred_modifier_order = public, private, protected, internal, file, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async, required : suggestion
csharp_space_after_cast = true
csharp_style_expression_bodied_accessors = true : suggestion
csharp_style_expression_bodied_constructors = true : none
csharp_style_expression_bodied_methods = true : none
csharp_style_expression_bodied_properties = true : suggestion
csharp_style_prefer_utf8_string_literals = true : suggestion
csharp_style_var_elsewhere = true : suggestion
csharp_style_var_for_built_in_types = true : suggestion
csharp_style_var_when_type_is_apparent = true : suggestion
dotnet_sort_system_directives_first = true
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary : none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity : none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary : none
dotnet_style_predefined_type_for_locals_parameters_members = true : suggestion
dotnet_style_predefined_type_for_member_access = true : suggestion
dotnet_style_qualification_for_event = false : suggestion
dotnet_style_qualification_for_field = false : suggestion
dotnet_style_qualification_for_method = false : suggestion
dotnet_style_qualification_for_property = false : suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members : suggestion
file_header_template = Copyright 2021 Anton Andryushchenko\n\nLicensed under the Apache License, Version 2.0 (the "License") ;\nyou may not use this file except in compliance with the License.\nYou may obtain a copy of the License at\n\nhttp://www.apache.org/licenses/LICENSE-2.0\n\nUnless required by applicable law or agreed to in writing, software\ndistributed under the License is distributed on an "AS IS" BASIS,\nWITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\nSee the License for the specific language governing permissions and\nlimitations under the License.

# ReSharper properties
align_linq_query = true
align_multiline_calls_chain = true
align_multiline_extends_list = true
align_multiline_type_parameter_constraints = true
align_multiline_type_parameter_list = true
align_multiple_declaration = true
align_tuple_components = true
blank_lines_after_block_statements = 0
blank_lines_inside_namespace = 1
can_use_global_alias = false
configure_await_analysis_mode = library
csharp_alignment_tab_fill_style = optimal_fill
csharp_empty_block_style = together_same_line
csharp_insert_final_newline = true
csharp_keep_blank_lines_in_code = 0
csharp_keep_blank_lines_in_declarations = 1
csharp_max_line_length = 150
csharp_nested_ternary_style = expanded
csharp_outdent_commas = true
csharp_place_type_constraints_on_same_line = false
csharp_wrap_arguments_style = chop_if_long
csharp_wrap_primary_constructor_parameters_style = chop_if_long
csharp_wrap_before_binary_opsign = true
csharp_wrap_multiple_type_parameter_constraints_style = chop_always
csharp_wrap_after_primary_constructor_declaration_lpar = false
enforce_line_ending_style = true
force_attribute_style = join
formatter_tags_enabled = true
indent_inside_namespace = false
indent_preprocessor_region = no_indent
keep_existing_expr_member_arrangement = false
keep_existing_initializer_arrangement = false
keep_existing_invocation_parens_arrangement = false
keep_existing_linebreaks = false
keep_existing_primary_constructor_declaration_parens_arrangement = false
keep_existing_switch_expression_arrangement = false
local_function_body = expression_body
max_attribute_length_for_same_line = 60
place_expr_accessor_on_single_line = true
place_expr_method_on_single_line = false
place_expr_property_on_single_line = true
place_field_attribute_on_same_line = if_owner_is_single_line
place_simple_embedded_statement_on_same_line = false
show_autodetect_configure_formatting_tip = false
space_within_single_line_array_initializer_braces = false
use_indent_from_vs = false
wrap_array_initializer_style = chop_if_long
wrap_before_arrow_with_expressions = true
wrap_chained_binary_expressions = chop_if_long
wrap_chained_method_calls = chop_if_long
wrap_for_stmt_header_style = wrap_if_long
wrap_primary_constructor_parameters_style = wrap_if_long
wrap_text = false
xmldoc_attribute_indent = align_by_first_attribute
xmldoc_attribute_style = on_single_line
xmldoc_keep_user_linebreaks = false
xmldoc_linebreaks_inside_tags_for_elements_with_child_elements = false
xmldoc_linebreaks_inside_tags_for_multiline_elements = false
xmldoc_spaces_inside_tags = true
xmldoc_wrap_around_elements = false
xmldoc_wrap_lines = false
xmldoc_wrap_tags_and_pi = false
